@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(255, 255, 255);
}

.category{
    width: 30vw;
    position: relative;
    margin: 10px;
}

.bg-img{
width: 100%;
height: 100%;
}

.top-text{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    padding: 10px 0;
    z-index: 10;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For desktop: */
    .category{
        width: 80vw;
        margin: 10px;
        position: relative;
    }
  }